@font-face {
  font-family: 'maineventer';
  src: url('fonts/Comfortaa-Regular.ttf') format('truetype');
}

h3 {
  font-family: 'maineventer';
}

footer {
  background-image: url("img/swirl_pattern.png");
  margin-left: -15px;
  margin-right: -15px;
  height: 200px;
  vertical-align: middle;
}

.titre, .test{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre h3 {
  text-transform: uppercase;
  font-size: 2em;
  position: relative;
}

.test img {
  position: relative;
  border-radius: 50%;
  margin: 25px;
  height: 50px;
}

.test img:hover {
opacity: 0.6;
}
