@font-face {
  font-family: 'cinzel';
  src: url('Cinzel-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'comfortaa';
  src: url('Comfortaa-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

.title {
  border-bottom: 3px solid firebrick;
  padding-bottom: 3px;
}

.asterisk {
  font-size: 13px;
}

h1 {
  font-family: 'comfortaa';
  margin: auto auto 30px 23%;
  letter-spacing: 1px;
}

label {
  font-family: "Arial";
  display: block;
  margin: 10px 10px 5px 12px;
  letter-spacing: 1px;
  color: #1d1d1d;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  grid-template-areas: "Name Lastname""Email .""Textarea Textarea""Textarea Textarea";
  ;
}

.Name {
  grid-area: Name;
}

.Lastsname {
  grid-area: Lastsname;
}

.Email {
  grid-area: Email;
}

.Textarea {
  grid-area: Textarea;
}

input {
  width: 200px;
  border-radius: 80px;
  border: 1px solid firebrick;
  margin: 9px;
  padding-left: 10px;
}

textarea {
  height: 160px;
  width: 390px;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
  border: 1px solid firebrick;
  margin: 7px;
}

button {
  font-family: 'comfortaa';
  align-items: center;
  padding: 0 20px 2px 20px;
  min-width: 150px;
  height: 55px;
  font-size: 20px;
  background-color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
  border: 1px solid firebrick;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 150px;
  color: firebrick;
}

.flex2 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: firebrick;
  color: white;
}
