@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-Regular.ttf") format("truetype");
  font-family: "Cinzel";
  src: url("fonts/Cinzel-Regular.ttf") format("truetype");
}

.who_we_are {
    font-family: 'Comfortaa';
    height: auto;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.biere {
    position: relative;
    top: 150px;
    height: 700px;
    width: 10000px;
    font-size: 14pt;
    }

.biere img {
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  }

.biere h3 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-family: arial;
  font-size: 24pt;
  }

span {
  padding-bottom: 10px;
  border-bottom: 4px solid red;
  }

.biere p:nth-of-type(2) {
  clear left;
  }

.comment {
    position: relative;
    top: -130px;
    left: -820px;
    width: 2200px;
    height: 60px;
    color: white;
    background-color: red;
    border: 3px solid white;
    padding: 5px;
    }
