.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "CEO CEO CEO COO COO COO" "CEO CEO CEO COO COO COO" "CFO CFO CFO CTO CTO CTO" "CFO CFO CFO CTO CTO CTO";
}

.CEO {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "CEOPIC CEOTEXT CEOTEXT" "CEOPIC CEOTEXT CEOTEXT";
  grid-area: CEO;
}

.CEOPIC { grid-area: CEOPIC; }

.CEOTEXT { grid-area: CEOTEXT; }

.COO {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "COOPIC COOTEXT COOTEXT" "COOPIC COOTEXT COOTEXT";
  grid-area: COO;
}

.COOPIC { grid-area: COOPIC; }

.COOTEXT { grid-area: COOTEXT; }

.CFO {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "CFOPIC CFOTEXT CFOTEXT" "CFOPIC CFOTEXT CFOTEXT";
  grid-area: CFO;
}

.CFOPIC { grid-area: CFOPIC; }

.CFOTEXT { grid-area: CFOTEXT; }

.CTO {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "CTOPIC CTOTEXT CTOTEXT" "CTOPIC CTOTEXT CTOTEXT";
  grid-area: CTO;
}

.CTOPIC { grid-area: CTOPIC; }

.CTOTEXT { grid-area: CTOTEXT; }

.TEAMflex {
  display: flex;
  justify-content: center;
  margin-left:15%;
  margin-right:15%;
}
