@font-face {
  font-family: 'cinzel';
  src: url('Cinzel-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'comfortaa';
  src: url('Comfortaa-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "CEO COO" "CFO CTO";
}

.CEO {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "ceoPIC ceoText ceoText" "ceoPIC ceoText ceoText";
  grid-area: CEO;
}

.ceoPIC { grid-area: ceoPIC; }

.ceoText { grid-area: ceoText; }

.COO {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "cooPIC cooText cooText" "cooPIC cooText cooText";
  grid-area: COO;
}

.cooPIC { grid-area: cooPIC; }

.cooText { grid-area: cooText; }

.CFO {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "CFOpic cfoText cfoText" "CFOpic cfoText cfoText";
  grid-area: CFO;
}

.CFOpic { grid-area: CFOpic; }

.cfoText { grid-area: cfoText; }

.CTO {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "CTOpic ctoText ctoText" "CTOpic ctoText ctoText";
  grid-area: CTO;
}

.CTOpic { grid-area: CTOpic; }

.ctoText { grid-area: ctoText; }

.flex {
  display: flex;
  justify-content: center;
  margin-left:15%;
  margin-right:15%;
}
